@model IEnumerable<GestaoDeLaboratorios.Models.Computador>

@{
    ViewData["Title"] = "CRUD";
}

<h1>Gestão de Laboratórios</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacaMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeCompra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
